<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-nuevo-seguimiento">
  Nuevo Seguimineto
</button>
-->
<!-- Modal -->
<div class="modal fade" id="modal-nuevo-seguimiento" tabindex="-1" role="dialog" aria-labelledby="cuerpo-nuevo-seguimientoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cuerpo-nuevo-seguimientoLabel">Seguimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cuerpo-nuevo-seguimiento">
        ....
      </div>
    </div>
  </div>
</div>