<!-- Modal -->
<div class="modal fade" id="modal-edit-seguimiento" tabindex="-1" role="dialog" aria-labelledby="cuerpo-edit-seguimientoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cuerpo-edit-seguimientoLabel">Seguimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cuerpo-edit-seguimiento">
        ....
      </div>
    </div>
  </div>
</div>